@using TatilSeyahatProjesiCore.Models.Siniflar
@model List<Iletisim>
@{
    ViewData["Title"] = "IletisimListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Iletisim Listesi</h1>
<br />
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>AD SOYAD</th>
        <th>MAİL</th>
        <th>KONU</th>
        <th>MESAJ</th>
        <th>SİL</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.IletisimId</td>
            <td>@x.AdSoyad</td>
            <td><a href="mailto:@x.Mail">@x.Mail</a></td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
            <td><a href="/Admin/IletisimSil/@x.IletisimId" class="btn btn-danger">Sil</a></td>
        </tr>
    }


</table>
