 @model TatilSeyahatProjesiCore.Models.Siniflar.SoruCevap
@{
    ViewData["Title"] = "SSSGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>SSS Guncelleme Sayfası</h1>
<br />

@using (Html.BeginForm("SSSGuncelle", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)

    <label>Soru</label>
    @Html.TextBoxFor(x => x.Soru, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Soru, "", new { @class = "text-danger" })

    <label>Cevap</label>
    @Html.TextAreaFor(x => x.Cevap, new { @class = "form-control", rows = 5 })
    @Html.ValidationMessageFor(x => x.Cevap, "", new { @class = "text-danger" })

    <br />
    <button class="btn btn-success">Güncelle</button>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


@* @model TatilSeyahatProjesiCore.Models.Siniflar.SoruCevap
@{
    ViewData["Title"] = "SSS Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>SSS Güncelleme Sayfası</h1>

@using (Html.BeginForm("SSSGuncelle", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)

    <label>Soru</label>
    @Html.TextBoxFor(x => x.Soru, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Soru, "", new { @class = "text-danger" })

    <label>Cevap</label>
    @Html.TextAreaFor(x => x.Cevap, new { @class = "form-control", rows = 5 })
    @Html.ValidationMessageFor(x => x.Cevap, "", new { @class = "text-danger" })

    <br />
    <button class="btn btn-success">Güncelle</button>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
} *@
